<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Interativo sobre Fraudes Bancárias</title>
    <link href="../static/css/estilo.css" type="text/css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 

</head>
<body>
    
    <div id="topo">
        <div id="logo">
            <a href="index.html"><img src="../static/img/logo.png" border="0"/></a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="ranking.html">Ranking de Fraudes</a></li>
                <li><a href="{{url_for('create')}}">Formulário</a></li>
                <li><a href="#">Relatório Estatístico</a></li>
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
        </nav>

    </div><!--fecha topo -->


    <div id="ranking">
        <h1>Relatório Estatístico</h1>

        <p>A análise descritiva deste relatório baseia-se nas informações que foram coletadas durante
            o processo de pesquisa.</p>
        <p>O gráfico representa em porcentagem a opinião das pessoas que participaram da pesquisa, nas faixas etárias - 
            de 18 a 27 anos (15,9%), de 28 a 39 anos (45,5%), de 40 a 55 anos (29,5%) 
            e acima de 55 anos (9,1%), entre homens e mulheres.</p>
        <p> Após a análise dos dados, percebemos a necessidade de
            desenvolver a construção de site informativo e de fácil manuseio por todos os públicos.</p>
        <p>A melhor forma de representar um resultado é em um gráfico. Escolhemos o gráfico de setor,
             representa os dados percentuais. </p>
        <div id="grafico">
            <a href="#"><img id = "grafico" src= "static/img/diagrama-pizza.png" border="0"/></a>
        </div>

    </div><!--fecha ranking -->

    <footer>
        <div id="info">
            <p><b>Sobre nós</b></p>
            <p>Somos estudantes de <br>Engenharia da Computação <br>da <a href="https://univesp.br/" target="_blank" >UNIVESP.</a></p>
        </div>

        <div id="links">
            <p><b>Principais Links</b></p><br><br>
            <a href="https://antifraudes.febraban.org.br/?gclid=EAIaIQobChMIu5rLhJLp8wIVS7LICh3sGQppEAAYAyAAEgLREfD_BwE" target="_blank">Dicas Anti-golpes</a><br>
            <a href="https://globoplay.globo.com/v/9867521/?s=0s" target="_blank">Reportagem sobre fraudes no Brasil</a><br>
            <a href="https://www.cnnbrasil.com.br/tudo-sobre/fraudes-bancarias/">Notícias sobre fraudes bancárias</a><br>
        </div>

    </footer><!--fecha rodape -->

</body>
</html>